@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f2f2f7;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial;
}
@keyframes fadeInZoom {
  0% { opacity: 0; transform: scale(0.7); }
  100% { opacity: 1; transform: scale(1); }
}

.animate-fadeInZoom {
  animation: fadeInZoom 0.3s ease-out forwards;
}

